# Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/
.ipynb_checkpoints/
# ML datasets
ml/datasets/